.button{
    background-color: #B77E66;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.medium{
  width: 330px;
  height: 88px;
  font-size: 24px;
  font-weight: 800;
}
.small{
  width: 180px;
  height: 44px;
  font-size: 15px;
  font-weight: 400;
}

.button.clicked {
    animation: pulse 0.3s ease-in-out;
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }