
.clip-invisible {
    clip: rect(0 0 0 0);
  }
  
  .font {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Inter;
  }
  
  .fadeInAnimation {
    animation-name: fadeIn;
    animation-duration: 300ms;
  }
  .landingBackground {
    background-image: url('../../assets/coffeeblur.png');
    background-size: cover;
    background-position: center;
  }
  .navigationBackground {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bgnav.png');
    background-size: cover;
    background-position: center;
  }
  .aboutBackground {
    background-image: url('../../assets/barist.png');
    background-size: cover;
    background-position: center;
  }
  .timeOpenBackground {
    background-image: url('../../assets/timeOpen.png');
    background-size: cover;
    background-position: center;
  }
  .ourMenuBackground {
    background-image: url('../../assets/ourmenubg.png');
    background-size: cover;
    background-position: center;
  }
  
  .buttonClicked {
    animation: pulse 0.3s ease-in-out;
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }