.clip-invisible {
    clip: rect(0 0 0 0);
  }

  .font {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Inter;
  }

  .fadeInAnimation {
    animation-name: fadeIn;
    animation-duration: 300ms;
  }
  .landingBackground {
    background-image: url('../../assets/coffeeblur.png');
    background-size: cover;
    background-position: center;
  }
  .navigationBackground {
    background-image: linear-gradient(rgba(30, 21, 17, 0.9), rgba(30, 21, 17, 0.9)), url('../../assets/bgnav.png');
    background-size: cover;
    background-position: center;
  }
  .aboutBackground {
    background-image: url('../../assets/barista.png');
    background-size: cover;
    background-position: center;
  }
  .timeOpenBackground {
    background-image: url('../../assets/timeOpen.png');
    background-size: cover;
    background-position: center;
  }
  .ourMenuBackground {
    background-image: url('../../assets/ourmenubg.png');
    background-size: cover;
    background-position: center;
  }
  .opinionBackground {
    background-image: url('../../assets/opinionbg.png');
    background-size: cover;
    background-position: center;
  }
  .footerBackground {
    position: relative;
    background-image: linear-gradient(rgba(29, 23, 20, 0.6), rgba(29, 23, 20, 0.6)), url('../../assets/footer.png');
    background-size: cover;
    background-position: center;
}
.signinBackground {
  background-image: url('../../assets/signinbg.png');
  background-size: cover;
  background-position: center;
}
