.landing {
    position: relative;
    height: 100vh;
    background-image: url('../../../assets/coffeeblur.png'); /* Zmień na właściwą ścieżkę do swojego obrazu tła */
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .content {
    max-width: 643px;
    margin-left: 100px;
    z-index: 1;
  }
  
  .title {
    font-size: 64px;
    margin-bottom: 1rem;
  }
  
  .description{
    font-size: 22px;
    margin-bottom: 30px;
  }
  