.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-left: 80px;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    margin-right: 126px;
}
.option{
    color: #fff;
    text-decoration: none;
} 